

.div3{
	 display: flex;
  align-items: center;
  background: #fff;
  padding: 1px 11px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
 position: absolute;
  bottom: 0px;
 
	


/* ------------------ */


body{

	background-size:cover;
	background-color:grey;
	font-family:arial;
	
}
.div1{
	border:5px solid black;
	color:white;
	background-color:black;
	animation-name:move;
	animation-duration:2s;
	animation-iteration-count:infinite;
}
@keyframes move{
	from{background-color:#98b5d8;border-radius:10px;}
	to{background-color:#f3597b;border-radius:20px;}
}
img{
height:300px;



}

h4{

    color: blue;
    text-align: center;
}
.sone{
	width:100px;
}
